<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="icon" type="image/x-icon" href="{{ url_for('static', filename='img/image9.png') }}">
    <title>Who we are</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='who-we-are-styles.css') }}">
</head>
<body>
    <div class="header">
        <div class="main-header">
            <div class="left-section">
                <img src="{{ url_for('static', filename='img/image7.png') }}"  alt="Image" onclick="openNewWindow()">
            </div>

            <script>
                function openNewWindow() {
                    window.open('{{ url_for("main") }}', '_blank');
                }
            </script>
            <div class="middle-section">
                <a href="{{ url_for('Who_we_are')}}" class="middle-button" target="_blank">
                    Who We Are
                </a>
                <a href="{{ url_for('Case_study')}}" class="middle-button" target="_blank">
                    Case Study
                </a>
            </div>
            <div class="right-section">
                <button class="right-button" onclick="openContactUsWindow()">
                    Contact Us
                </button>

                <script>
                    function openContactUsWindow() {
                        window.open('{{ url_for("Contact_us") }}', '_blank');
                    }
                </script>
            </div>
        </div>
    </div>   

    <div class="main">
        <div class="main-top">
            <div class="main-top-top">
                <div class="main-top-top-left">
                    <img src="{{ url_for('static', filename='img/image11.jpg') }}">
                    <div class="main-top-top-name">Summer Xiao</div>
                    <div class="main-top-top-title">CO-FOUNDER</div>
                    <div class="main-top-top-title">Data Analytics Lead</div>
                </div>
                <div class="main-top-top-right">
                    <img src="{{ url_for('static', filename='img/image12.jpg') }}">
                    <div class="main-top-top-name">Ye Kang</div>
                    <div class="main-top-top-title">CO-FOUNDER</div>
                    <div class="main-top-top-title">Data Science Lead</div>
                </div>
            </div>
        </div>
        <div class="main-fourth">
            <div class="main-fourth-top">
                <div class="main-fourth-top-left">
                    <img src="{{ url_for('static', filename='img/image8.png') }}">
                </div>
                <div class="main-fourth-top-right">
                    <div class="main-fourth-top-right-contact">
                        Contact Us
                    </div>
                    <div class="main-fourth-top-right-text">
                        SNK Data Analytics &#40 ABN 45 112 487 966 &#41
                    </div>
                    <div class="main-fourth-top-right-text">
                        Email: 
                        <a href="mailto:snkdataconsulting@gmail.com?subject=Hello%20from%20me">
                            snkdataconsulting@gmail.com
                        </a>
                    </div>
                    <div class="main-fourth-top-right-text">
                        Phone: 0420 296 663
                    </div>
                    <div class="main-fourth-top-right-text">
                        Location: 80 Waterloo Road, Macquarie Park, NSW 2113
                    </div>
                </div>
            </div>
        </div>
    </div>
    </div>
</body>
</html>